@import url('https://fonts.googleapis.com/css2?family=Moulpali&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
  }


  a {
    text-decoration: none;
    color: #01200F;
    transition: 0.3s;
  }
  
  .logo {
    font-family: 'Moulpali', cursive;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 4px;
    color: #01200F;
  }
  
  nav {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
    border-bottom: 1px solid #01200F;
  }

  .lupa{
    width: 20px;
    height: 20px;
  }

  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .icon {
    height: 40px;
    width: 40px;
    transition: 0.5s;
  }

  .icon:hover{
    height: 43px;
    width: 43px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

#search{
    border: 0;
    font-size: 20px;
    width: 40vh;
    outline: none;
    font-size: 15px;
}

.search{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    height: 15px;
}

.menu{
  gap: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.menu li{
    list-style: none;
}

.menu a{
    color: #01200F;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}

.menu a:hover{
  font-size: 25px;
}

.navbar{
    display: flex;
    justify-content: center;
}

.slider{
  margin: 0 auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  position: relative;
  top: 40px;
  margin-bottom: 70px;
}

.slides{
  width: 400%;
  height: 400px;
  display: flex;

}

.slides input{
  display: none;

}

.slide{
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img{
  width: 800px;
}

.manual-navigation{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  

}

.manual-btn{
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background-color: #fff;

}

#radio1:checked ~ .first{
  margin-left: 0;

}

#radio2:checked ~ .first{
  margin-left: -25%;

}

#radio3:checked ~ .first{
  margin-left: -50%;

}

#radio4:checked ~ .first{
  margin-left: -75%;

}

.navigation-auto div{
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto{
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;

}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
}

.card{
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.card-solo{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  padding: 10px;
}

.imagem-card{
  border: 2px solid rgba(0, 0, 0, 0.116);

}

.avaliacao{
  display: flex;
}

.star-icon{
  list-style-type: none;
  border: 1px solid #ffff;
  cursor: pointer;
  color: #FFE500;
  font-size: 30px;
}

.star-icon::before{
  content: "\2605";/*cheio*/
}

.star-icon.ativo ~ .star-icon::before{
  content: "\2606";
}

.star-icon:hover .star-icon::before{
  content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
  content: "\2606";
}

.descricao-produto{
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #01200F;
  transition: 0.2s;
}

.preco{
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  color: #01200F;
}

footer{
  border-top: 1px solid #01200F;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

.icons-footer{
  margin-right: 70px;
}

.logo-fim{
  font-family: 'Moulpali', cursive;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #01200F;
  font-weight: bolder;
}